<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- <svg width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image href="/img/helica-earth.svg">
    </svg> -->
    <div class="container-flex header">
        <img class = "logo" src="/img/helica_principal.jpg">
    </div>
    
    <div class="container title main">
        <div class="row ">
            <div class="col">
                <h1>Vê o progresso da tua instalação</h1>
                <h4>Obra: XJSDJKSLJLS</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class = "image-tree" src="/img/tree1.png">
            </div>
        </div>
        <div class="row image-helica">
            <div class="col">
                <img class ="image-helica" src="/img/helica-earth.png">
            </div>
        </div>
        <div class="row gatherInfo ">
            <div class="col-md-4 .mx-auto info done">
                <div class="vl-done"></div>
                <p>Foi recebida a informação da obra. Vamos analisar!</p>
                <p id="date">27/05</p>
            </div>
            <div class="col-md-4 .mx-auto info done">
                <div class="vl-done"></div>
                <p>Análise concluída. O orçamento já foi enviado</p>
                <p id="date">30/05</p>
            </div>
            <div class="col-md-4 .mx-auto info todo">
                <div class="vl-todo"></div>
                <p>Estamos a preparar os elementos da instalação</p>
                <p id="date"></p>
            </div>
            <div class="col-md-4 .mx-auto info todo">
                <div class="vl-todo"></div>
                <p>Está tudo preparado! A instalação decorrerá no dia definido</p>
                <p id="date"></p>
            </div>
            <div class="col-md-4 .mx-auto info todo">
                <div class="vl-todo"></div>
                <p>Instalação feita com sucesso! Vê aqui as tuas Helica</p>
                <p id="date"></p>
            </div>
        </div>
        <div class="row conclusion">
            <div class="col">
                <h3>A tua instalação será feita a 22/07/2022 <br>Faltam 28 dias!</h1>
            </div>
        </div>
    </div>

    
</body>