body {
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

h1 {
    color: #060E9F;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

h3 {
    color: #060E9F;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

h4 {
    color: #060E9F;
    text-align: center;
    font-size: 18px;
}

p {
    padding-top: 5%;
    font-weight: 600;
    text-align: left;
    font-size: 12px;
}

.done p {
    color: #00033A;
}

.todo p {
    color: #C3C3C3;
    opacity: 20%;
}

.header {
    position:absolute;
    top: 5%;
    left: 7%;
}

.main {
    position:absolute;
    top: 15%;
    left: 7%;
}

.conclusion {
    padding-top: 5%;
}

#image-tree {
    width:50px;
    display: block;
    margin-left: 85%;
    margin-bottom: -2%
    
}

.image-helica {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gatherInfo {
    justify-content: space-around;
    width:97%;
    margin-left: 8%;
    position:relative;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;

    // background-color: red;
}

.date {
    // display: flex;
    // align-self: flex-end;
    position: absolute;
    bottom: 0;
    text-align: left;
}

.info {
    max-width:15%;
    font-weight: 500;
}

.vl-done{
    border-left: 1px dashed #00033A;
    height: 50px;
}

.vl-todo{
    border-left: 1px dashed #C3C3C3;
    height: 50px;
    opacity: 30%;
}

@media (max-width: 480px) {
    p {
        font-size: 6.5px;
    }

    h1 {
        font-size: 17px;
        margin-top:5%;
    }
    
    h3 {
        font-size: 11px;
    }
    
    h4 {
        font-size: 11px;
    }
    #image-tree {
        width:22px;
        margin-left: 78%;
        margin-top: 5%;
    }
    .main {
        top: 20%;
        left: 0%;
    }
    .info {
        max-width:21%;
        margin-left:-1.5%
    }
    .image-helica {
        width: 85%;
        margin-left:-1%;
    }
    .gatherInfo {
        width:100%;
        margin-left: 0%;
    }
    .conclusion {
        padding-top: 10%;
    }
    
}





